.node {
    width: 40px;
    height: 40px;
    background-color: #fff;
    
    /* align text center horizontal & vertical */
    text-align: center;
    line-height: 40px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}


.shadow {
    /* material design card shadow */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover {
    /* material design card shadow */
    box-shadow: -4px 0 15px rgba(0,0,0,0.4);
}
